html {
  scroll-behavior: smooth;
}
body {
  max-width: 960px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: #f5dab6d6;
  justify-content: space-between;
}
.nav {
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 40px;
  transition: 0.3s;
}
